<ion-header>
  <ion-toolbar>
    <ion-title>Asignar Conductor</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label position="stacked">Bus</ion-label>
    <ion-select [(ngModel)]="selectedBusId" placeholder="Selecciona un bus" interface="popover">
      <ion-select-option *ngFor="let b of buses" [value]="b.id">
        {{ b.number }} · {{ b.placa || 'Sin placa' }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Conductor</ion-label>
    <ion-select [(ngModel)]="selectedDriverId" placeholder="Selecciona un conductor" interface="popover">
      <ion-select-option *ngFor="let d of drivers" [value]="d.id">
        {{ d.nombre }} ({{ d.correo }})
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="block" (click)="assign()" [disabled]="!selectedBusId || !selectedDriverId || isSubmitting">
    <ion-spinner slot="start" *ngIf="isSubmitting"></ion-spinner>
    Asignar
  </ion-button>

</ion-content>
